<div class="profile-wrap">
  <div class="img-wrap">
    <img class="speaker-detail-img"{{bind-attr src="imgUrl"}}>
  </div>
  <div class="details-wrap">
    <span class="speaker-detail-name">{{model.name}}</span>
    <span class="speaker-detail-location">{{model.location}}</span>
    <span class="speaker-detail-web">
      <a {{bind-attr href="web"}}>{{model.web}}</a>
    </span>
  </div>
</div>
<span class="speaker-detail-bio">{{model.bio}}</span>
<h3>Sessions for this speaker</h3>
<table class="table">
  <tbody>
  {{#each session in sessions}}
  <tr class="speaker-session-row">
    <td class="speaker-session-name">{{session.name}}</td>
    <td>
      {{#link-to 'session' session.id tagName="td" class="speaker-session-link"}}
        <a href="#" class="pull-right"><i class="glyphicon glyphicon-chevron-right"></i></a>
      {{/link-to}}</td>
    </td>
  </tr>
  {{else}}
  <tr class="no-sessions-found">
    <td>no sessions found for this speaker</td>
    <td></td>
  </tr>
  {{/each}}
  </tbody>
</table>
